.spirit{background:url("../img/spirit.png") no-repeat;width: 200px;height:300px}
.cn{width:19px;height:13px;background-position:0 -194px;}
.english{width:19px;height:13px;background-position:0 -181px;}
.location{width:12px;height:16px;background-position:0 0}
.pencil{width:16px;height:13px;background-position:0 -16px}
.phone{width:14px;height:14px;background-position:0 -29px}
.mailbox{width:16px;height:16px;background-position:0 -43px}
.mail{width:16px;height:12px;background-position:0 -59px}
.lock{width:12px;height:14px;background-position:0 -71px}
.plus{width:16px;height:16px;background-position:0 -85px}
.space{width:16px;height:16px;background-position:0 -101px}
.sina{width:16px;height:16px;background-position:0 -117px}
.share{width:16px;height:16px;background-position:0 -133px}
.pp{width:16px;height:16px;background-position:0 -149px}
.netease{width:16px;height:16px;background-position:0 -165px}
.more{width:44px;height:13px;background-position:0 -207px}
.wan{width:42px;height:16px;background-position:0 -220px}
.peo{width:25px;height:25px;background-position:0 -236px}